// ********************
//
// Base Project Settings
//
// ********************

//
// Type Settings
//

$type-light: 100;
$type-regular: 400;
$type-bold: 600;
$type-base-family: 'Helvetica Neue', sans-serif;
$type-base-weight: $type-regular;
$type-base-size: 1.125em;

//
// Layout Settings
//

$container-width: 1200px;

// ********************
//
// Import All Modules
//
// ********************

@import "modules/all";