// ********************
//
// Section Styles
//
// ********************

.section-one {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 10em 0;

	.input-one {
		background: #f2f3fc;
		border: 0;
		padding: 5px;
	}
}

.section-two {
	border-bottom: 1px solid #f2f2f2;
	padding: 10em 0;

	.input-two {
		background: transparent;
		border: 1px solid #ccc;
		padding: 5px;
	}
}